.w {
    width: 1200px;
    margin: 0 auto;
}

.w_2 {
    width: 1500px;
    margin: 0 auto;
}

/* 顶部导航栏 */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.header_left img:nth-of-type(1) {
    height: 40px;
}

.header_left i {
    padding: 0 5px;
    font-size: 20px;
    font-weight: 200;
    color: #eaeaea;
    vertical-align: middle;
}

.header_left img:nth-of-type(2) {
    height: 25px;
}

.header_right {
    display: flex;
}

.header_right li {
    margin-right: 50px;
    font-size: 15px;
    color: #473967;
}

.header_right li:nth-last-child(1) {
    margin-right: 0;
}

/* 焦点图 */
.focus img {
    width: 100%;
}

/* Business模块 */
.business_top {
    text-align: center;
}

.business_top h1 {
    font-size: 60px;
    padding: 10px;
    font-weight: 300;
    /* 字体渐变色效果 */
    /* background-image: -webkit-linear-gradient(left, rgb(216, 63, 114), rgb(6, 220, 248));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.business_bottom {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    padding-bottom: 55px;
}

.business_bottom img{
    width: 380px;
    margin-bottom: 15px;
}

/* Clients模块 */
.clients {
    background-color: #ebeff2;
}

.clients_bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    padding-bottom: 70px;
}

.clients_bottom div {
    width: 300px;
    border-right: 1px solid #eaeff2;
    border-bottom: 1px solid #eaeff2;
}

.clients_bottom div:nth-child(4n) {
    border-right: 0;
}

.clients_bottom div img {
    width: 100%;
}

/* News模块 */
.news {
    background: url(../images/11.jpg) no-repeat;
    background-size: 100% 101%;
    padding-bottom: 55px;
}

.news_bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

.news_bottom .box {
    display: flex;
    width: 580px;
    margin-bottom: 15px;
    background-color: #fff;
}

.news_bottom .box img {
    width: 180px;
    height: 180px;
}

.news_bottom .box_right {
    padding: 20px 20px;
}

.news_bottom .box_right h3 {
    font-size: 18px;
}

.news_bottom .box_right p {
    padding: 10px 0;
    font-size: 16px;
    text-indent: 2em;
}

.news_bottom .box_2 {
    display: flex;
    justify-content: space-between;
}

.news_bottom .box_2 span {
    font-size: 16px;
    color: #d7d4d8;
}

/* Contack模块 */
.contact {
    background-color: #2e2e2e;
    padding-bottom: 70px;
}

.contact_top {
    text-align: center;
    font-size: 60px;
    padding: 15px;
    font-weight: 300;
    color: #fff;
}

.contact_bottom {
    display: flex;
    margin: 0 150px;
}

.contact_bottom_left {
    flex: 1;
    border-right: 1px solid #828282;
}

.contact_bottom_right {
    flex: 1;
}

.contact_bottom_left {
    color: #fff;
    font-weight: 400;
}

.contact_bottom_left h2 {
    padding-bottom: 15px;
}

.contact_bottom_left h3 {
    padding: 5px 0;
}

.contact_bottom_left h3:nth-of-type(n)::before {
    content: "\e98c";
    font-size: 30px;
    margin-right: 15px;
}

.contact_bottom_left .box {
    display: flex;
    justify-content: space-between;
    padding: 35px 0;
    width: 510px;
}

.contact_bottom_left .box .box1 {
    display: flex;
    align-items: center;
    width: 250px;
    background-color: #414141;
    padding: 10px;
}

.contact_bottom_left .box .box1 img {
    width: 50px;
    margin-right: 20px;
    vertical-align: middle;
}

.contact_bottom_left .qrc {
    display: flex;
}

.contact_bottom_left .qrc img {
    width: 100px;
}

.contact_bottom_left .qrc p {
    padding: 8px 0px 0px 15px;
}

.contact_bottom_right {
    margin-left: 50px;
    color: #fff;
    font-weight: 400;
}

.contact_bottom_right h2 {
    padding-bottom: 15px;

}

.contact_bottom_right_form li {
    padding: 10px 0;
}

.contact_bottom_right_form li label {
    font-size: 18px;
    font-weight: 700;
}

.contact_bottom_right_form li input {
    width: 270px;
    border: 0;
    background-color: #828282;
    padding: 10px;
}

.contact_bottom_right_form li:nth-child(3) input{
    margin-left: -2px;
}

.contact_bottom_right_form li:nth-last-child(1) input{
    width: 490px;
    padding: 50px 0;
}

.contact_bottom_right_span {
    margin: 25px 0px 0px 82px;
}

.contact_bottom_right span {
    display: inline-block;
    background-color: #828282;
    
    padding: 5px 10px;
}

.contact_bottom_right_span span:nth-child(2) {
    margin-left: 10px;
}

/* footer模块 */
footer {
    padding: 10px 0;
    text-align: center;
    font-size: 12px;
    background-color: #191919;
    color: #7c7f77;
}