body {
    max-width: 540px;
    min-width: 320px;
    margin: 0 auto;
    font: normal 14px/1.5 Tahoma,"Lucida Grande",Verdana,"Microsoft Yahei",STXihei,hei;
    color: #000;
    background: #f2f2f2;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}

/* 点击高亮我们需要清除 设置为transparent 完成透明 */
* {
    -webkit-tap-highlight-color: transparent;
}

/* 在移动端浏览器默认的外观在ios上加上这个属性才能给按钮和输入框自定义样式 */
input {
    -webkit-appearance:none;
}

/* 禁用长按页面时的弹出菜单 */
img,a { 
    -webkit-touch-callout:none; 
}

a {
    text-decoration: none;
    color: #222;
}

p, h2, h3 {
    margin: 0;
    padding: 0;
    font-weight: 400;
}


div, nav, footer, header {
    box-sizing: border-box;
}

header {
    position: fixed;
    /* overflow: hidden; */
    min-width: 320px;
    max-width: 540px;
    width: 100%;
    height: 44px;
    background-color: #252525;
    z-index: 999;
}

.logo-index {
    position: absolute;
    left: 0;
    top: 2px;
    width: 70px;
    height: 25px;
    margin-top: 7px;
    margin: 7px 0px 0 7px;
    background: url(../upload/芒果.png) no-repeat ;
    background-size: 70px 25px;
}

.search {
    position: relative;
    height: 30px;
    background-color: #383838;
    margin: 0 85px;
    margin-top: 7px;
    border-radius: 4px;
    text-align: center;
    line-height: 30px;
    color: #bbbbbb;
    font-size: 14px;
}

.search::before {
    content: "\e6a2";
    position: absolute;
    top: 0px;
    left: 50px;
    color: #bbbbbb;
}

.search-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    height: 30px;
    margin-top: 7px;
    /* background-color: pink; */
    
}

.search-right::before {
    content: "\e794";
    /* display: block; */
    position: absolute;
    left: 10px;
    top: 2.5px;
    width: 25px;
    height: 25px;
    /* background-color: yellow; */
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #fff;

}

.search-right::after {
    content: "\e61a";
    position: absolute;
    right: 10px;
    top: 2.5px;
    width: 25px;
    height: 25px;
    /* background-color: yellow; */
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #fff;
}

/* 导航栏模块 */
.box {
    height: 44px;
}
nav {
    display: flex;
    height: 44px;
    text-align: center;
    line-height: 44px;
    background-color: #fff;
}
nav a {
    flex: 1;
    font-size: 16px;
}
nav a:hover {
    border-bottom: 2px solid #f06000;
    color: #f06000;
}

.focus {
    background-color: #fff;
}

.focus img {
    width: 100%;
    height: 200px;
    vertical-align: bottom;
}

.focus .p_1 {
    text-align: center;
    color: #707070;
    padding: 7px 0px;
}

/* 头条模块 */
.title {
    height: 240px;
    margin-top: 10px;
    background-color: #fff;
}

.title-hd {
    position: relative;
    height: 40px;
    /* background-color: skyblue; */
    
}

.hd-left {
    position: absolute;
    top: 5px;
    left: 0;
    width: 70px;
    height: 30px;
    padding-left: 5px;
    /* background-color: yellowgreen; */
    line-height: 30px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    color: black;
}

.hd-left::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    height: 15px;
    width: 3px;
    background-color: #f06000;
}

.hd-left::after {
    content: "\e613";
    position: absolute;
    top: 0;
    right: -15px;
    font-size: 20px;
}

.hd-right {
    position: absolute;
    top: 5px;
    right: 0;
    width: 70px;
    height: 30px;
    padding-left: 5px;
    /* background-color: yellowgreen; */
    line-height: 30px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    color: #f06000;
}

.hd-right::before {
    content: "\e652";
    position: absolute;
    top: 0;
    left: -5px;
}

.title-bd {
    display: flex;
    height: 200px;
}

.bd-left {
    flex: 1;
}

.bd-left img {
    height: 120px;
    width: 100%;
}

.bd-left h2 {
    font-size: 20px;
    padding-left: 5px;
}

.bd-left h3 {
    font-size: 14px;
    padding-left: 5px;
    padding-top: 3px;
    color: #8f8f8f;
}

.bd-right {
    flex: 1;
}

.bd-right img {
    height: 120px;
    width: 100%;
}

.bd-right h2 {
    font-size: 20px;
    padding-left: 5px;
}

.bd-right h3 {
    font-size: 14px;
    padding-left: 5px;
    padding-top: 3px;
    color: #8f8f8f;
}

footer {
    display: flex;
    position: fixed;
    min-width: 320px;
    max-width: 540px;
    width: 100%;
    bottom: 0px;
    height: 50px;
    background-color: #eee8f2;
}

footer a {
    flex: 1;
    text-align: center;
}

footer a:hover {
    color: orange;
}

footer span {
    margin-top: 2px;
    font-size: 20px;
}

footer h2 {
    margin-top: 2px;
    font-size: 20px;
}

footer p {
    font-size: 8px;
}