body {
    max-width: 540px;
    min-width: 320px;
    margin: 0 auto;
    font: normal 14px/1.5 Tahoma,"Lucida Grande",Verdana,"Microsoft Yahei",STXihei,hei;
    color: #000;
    background: #f2f2f2;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}

/* 点击高亮我们需要清除 设置为transparent 完成透明 */
* {
    -webkit-tap-highlight-color: transparent;
}

/* 在移动端浏览器默认的外观在ios上加上这个属性才能给按钮和输入框自定义样式 */
input {
    -webkit-appearance:none;
}

/* 禁用长按页面时的弹出菜单 */
img,a { 
    -webkit-touch-callout:none; 
}

p, h2, h3, ul, li {
    margin: 0;
    padding: 0;
    font-weight: 400;
}


div, nav, footer, header, article {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* 顶部菜单栏 */
header {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 5px;
    background-color: #252525;
    text-align: center;
}

header div:nth-child(1) {
    margin-right: 110px;
    color: #dbb058;
    font-size: 18px;
    font-weight: 700;  
}

header div:nth-child(1) img{
    width: 23px;
    height: 23px;
    vertical-align: middle;
}

header div:nth-child(2) {

    margin-right: 15px;
}

header div:nth-child(2) img{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.empty {
    height: 38px;
}
/* 焦点图 */
.focus {
    background-color: #fff;
}

.focus img {
    width: 100%;
    height: 200px;
    vertical-align: bottom;
}

.focus .p_1 {
    text-align: center;
    color: #707070;
    padding: 7px 0px;
}

.focus-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: skyblue;
    padding: 8px 0px;
    background: url(../images/1.jpg);
}

.focus-bottom p {
    font-size: 14px;
    color: #fff;
}

.focus-bottom-left {
    margin-left: 40px;
}

.focus-bottom-right {
    width: 80px;
    margin-right: 10px;
    border: 1px solid #fff;
    text-align: center;
    border-radius: 17px;
}

/* 主体部分 */
.main-top {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 13px 0;
}

.main-top img {
    width: 16px;
    height: 16px;
    border-left: 6px solid #f06000;
    padding: 0px 5px;
    vertical-align: middle;
}

.main-top span {
    font-size: 16px;
}

.main-bottom {
    display: flex;
    flex-wrap: wrap;
    margin: 0 3px;
}

.main-bottom li {
    width: 121px;
    margin-right: 2px;
    margin-bottom: 20px;
}

.main-bottom li:nth-child(3n) {
    margin: 0;
}

.main-bottom li a img{
    width: 121px;
    height: 170px;
    vertical-align: middle;
}

.main-bottom p {
    color: #000;
}

.main-bottom p:nth-of-type(1) {
    font-size: 15px;
    font-weight: 550;
    padding: 4px 0;
}

.main-bottom p:nth-of-type(2) {
    font-size: 13px;
    color: #929292;
}

/* 底部菜单栏 */
footer {
    display: flex;
    position: fixed;
    min-width: 320px;
    max-width: 540px;
    width: 100%;
    bottom: 0px;
    height: 50px;
    background-color: #eee8f2;
}

footer a {
    flex: 1;
    text-align: center;
    color: black;
}

footer a:hover {
    color: orange;
}

footer span:hover {
    color: orange;
}

footer span {
    margin-top: 2px;
    font-size: 20px;
}

footer h2 {
    margin-top: 2px;
    font-size: 20px;
}

footer p {
    font-size: 8px;
}