body {
    max-width: 540px;
    min-width: 320px;
    margin: 0 auto;
    font: normal 14px/1.5 Tahoma,"Lucida Grande",Verdana,"Microsoft Yahei",STXihei,hei;
    color: #000;
    background: #f2f2f2;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}

/* 点击高亮我们需要清除 设置为transparent 完成透明 */
* {
    -webkit-tap-highlight-color: transparent;
}

/* 在移动端浏览器默认的外观在ios上加上这个属性才能给按钮和输入框自定义样式 */
input {
    -webkit-appearance:none;
}

/* 禁用长按页面时的弹出菜单 */
img,a { 
    -webkit-touch-callout:none; 
}

p, h2, h3, ul, li {
    margin: 0;
    padding: 0;
    font-weight: 400;
}


div, nav, footer, header, article {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* 顶部 */
header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #242424;
    box-sizing: border-box;
    color: #fff;
    padding: 15px;
}

header span {
    margin-right: 90px;
    font-size: 18px;
}

header p {
    border: 1px solid #fff;
    border-radius: 15px;
    padding: 0 10px;
    font-size: 12px;
    /* 浏览器最小设置为12px，如果继续缩小就用下面的,但是有外边距。 */
    /* transform: scale(0.7); */
}

/* 主体部分 */
article  {
    background-color: #fff;
    margin-bottom: 5px;
}

article:nth-last-child(1)  {
    margin-bottom: 0;
}

.article-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.article-top-left {
    overflow: hidden;
}

.article-top-left img {
    float: left;
    width: 50px;
    margin-right: 10px;
}

.article-top-left p {
    font-size: 12px;
    color: #929292;
}

.article-top-right {
    padding: 0px 8px;
    color: orange;
    border: 1px solid orange;
    border-radius: 15px;
}

.article-middle-p {
    margin: 0 5px;
    padding: 8px;
    font-weight: 350;
    color: gray;
    border: 1px solid #e8e9ec;
    border-bottom: none;
    background-color: #fafafa;

}

.article-middle-img {
    margin: 0 5px;
}

.article-middle-img img {
    width: 100%;
    height: 200px;
    vertical-align: middle;
}

.article-bottom {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.article-bottom img {
    width: 20px;
    height: 20px;
}

/* 底部菜单栏 */
footer {
    display: flex;
    position: fixed;
    min-width: 320px;
    max-width: 540px;
    width: 100%;
    bottom: 0px;
    height: 50px;
    background-color: #eee8f2;
}

footer a {
    flex: 1;
    text-align: center;
    color: black;
}

footer a:hover {
    color: orange;
}

footer span:hover {
    color: orange;
}

footer span {
    margin-top: 2px;
    font-size: 20px;
}

footer h2 {
    margin-top: 2px;
    font-size: 20px;
}

footer p {
    font-size: 8px;
}