<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/login.css">
    <script src="js/vue.js"></script>
</head>
<body>
<div class="container">
    <div class="main">
        <!-- 整个注册盒子 -->
        <div class="loginbox">
            <!-- 左侧的注册盒子 -->
            <div class="loginbox-in">
                <div class="userbox">
                    <span class="iconfont">&#xe8c8;</span>
                    <input class="user" id="user" v-model="name" placeholder="用户名">
                </div>
                <br>
                <div class="pwdbox">
                    <span class="iconfont">&#xe60f;</span>
                    <input class="pwd" id="password" v-model="pwd" type="password" placeholder="密码">
                </div>

                <br>
                <div class="btn_info">
                    <button type="button" class="login_btn" @click="login">登录</button>
                    <button type="button" class="register_btn" @click="register">注册</button>
                    <a href="#" class="forget">忘记密码</a>
                </div>


            </div>

            <!-- 右侧的注册盒子 -->
            <div class="background">
                <div class="title">Welcome to WH System Management Center</div>
            </div>

        </div>
    </div>
</div>

<script>
    var btn_info = new Vue({
        el: ".btn_info",
        data: {
            name:"",
            pwd:"",
        },
        methods: {
            register: function () {
                window.location.href = "register.html";
            },
            login: function () {
                alert(123);
            }
        }
    });
</script>
</body>
</html>